<mat-toolbar-row style="height:80px;">
  &nbsp;
  &nbsp;
  <div class="py-4 ">
    <div class="container-fluid px-6">
      <div class="row">
        <div class="col-xl">
          <div class="input-group">
            <!-- search box -->
            <input type="text" class="form-control rounded-5 shadow" [class.input-highlight]="isFocused" [(ngModel)]="query" placeholder="Enter search query"
              aria-label="Search Word" aria-describedby="button-addon2" (focus)="onFocus()" (blur)="onBlur()" />
            &nbsp;
            &nbsp;
            <button class="btn btn-outline-secondary" type="Search" id="Search-addon2"
              style="height:40px; width: 40px;" >
              <!-- search logo -->
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle space -->
  <span class="example-spacer"></span>
  &nbsp;
  &nbsp;
</mat-toolbar-row>
<div class="container">

  <div *ngFor="let message of messages">
    <div *ngIf="message.text">
      {{ message.text }}
    </div>
  </div>



</div>
