<mat-toolbar-row style="height:80px;">
  &nbsp;
  &nbsp;
  <div class="py-4 ">
    <div class="container-fluid px-6">
      <div class="row">
        <div class="col-xl">
          <!-- input placeholder -->
          <div class="input-group">
            <input type="text" class="form-control rounded-5 shadow transparent-bg" [class.input-highlight]="isFocused"
              #box #search placeholder="Search Keywords" aria-label="Search Word" aria-describedby="button-addon2"
              (keyup.enter)="searchNews(search.value, languageCode, countryCode)" (focus)="onFocus()" (blur)="onBlur()">
            &nbsp;
            &nbsp;
            <!-- advance search button -->
            <button mat-button
              class="btn text-bg-light p-3 py-2 btn-light border rounded-5 body-dropdown transparent-bg"
              [matMenuTriggerFor]="AdvanceSearch" style="height:40px; width: 150px;">Advance
              Search</button>
            <mat-menu #AdvanceSearch="matMenu" class="transparent-menu">
              <div fxLayout="row wrap" fxLayoutAlign="start start">
                <!-- country advance button -->
                <button mat-menu-item [matMenuTriggerFor]="CountryMenu">
                  Country
                </button>
              </div>
              <mat-menu #CountryMenu="matMenu" class="transparent-menu">
                <button mat-menu-item *ngFor="let country1 of countries" (click)="country(country1.code)">
                  {{ country1.name }} <mat-icon *ngIf="selectedcountry === country1.code">done</mat-icon>
                </button>
              </mat-menu>
              <div fxLayout="row wrap" fxLayoutAlign="start start">
                <!-- language advance button -->
                <button mat-menu-item [matMenuTriggerFor]="LanguageMenu">
                  Language
                </button>
              </div>
              <mat-menu #LanguageMenu="matMenu" class="transparent-menu">
                <button mat-menu-item *ngFor="let lang of languages" (click)="language(lang.code)">
                  {{ lang.name }} <mat-icon *ngIf="selectedLanguage === lang.code">done</mat-icon>
                </button>
              </mat-menu>
            </mat-menu>
            <!-- input button -->
            <button class="btn btn-outline-secondary" (click)="getValue(box.value)"
              (click)="searchNews(search.value, countryCode,languageCode)" type="Search" id="Search-addon2">
              <!-- input search icon -->
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
            &nbsp;
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sentiment filter -->
  <mat-menu #sentimentMenu="matMenu" class="transparent-menu">
    <button mat-menu-item value="All" (click)="selectSentimentFilter('All')">
      <mat-icon>dashboard</mat-icon> All Sentiments
    </button>
    <button mat-menu-item value="positive" (click)="selectSentimentFilter('positive')">
      <mat-icon style="color: green;">done</mat-icon> Positive
    </button>
    <button mat-menu-item value="negative" (click)="selectSentimentFilter('negative')">
      <mat-icon style="color: red;">close</mat-icon> Negative
    </button>
    <button mat-menu-item value="neutral" (click)="selectSentimentFilter('neutral')">
      <mat-icon style="color: yellow;">help_outline</mat-icon> Neutral
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sentimentMenu"
    class="btn text-bg-light p-3 py-2 btn-light border rounded-5 body-dropdown transparent-bg"
    style="height:40px; width: 150px;" [disabled]="articles.length === 0">
    Sentiment
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <!-- middle space -->
  <span class="example-spacer"></span>
  <!-- country filter button -->
  <button mat-button class="btn text-bg-light p-3 py-2 btn-light border rounded-5 body-dropdown transparent-bg"
    [matMenuTriggerFor]="Country" style="height:40px; width: 100px;" [disabled]="articles.length === 0">
    {{ selectedCountryFilter !== 'All' ? selectedCountryFilter : 'Country' }}
  </button>
  <mat-menu #Country="matMenu">
    <button mat-menu-item (click)="setCountryFilter('All')" [ngClass]="{'selected': selectedcountry === 'All'}"
      [disabled]="articles.length === 0">All
    </button>
    <button mat-menu-item *ngFor="let country of countries1" (click)="setCountryFilter(country.name)"
      [ngClass]="{'selected': selectedcountry === country.name}" [disabled]="articles.length === 0">
      {{ country.name }} <mat-icon *ngIf="selectedcountry === country.name">done</mat-icon>
    </button>
  </mat-menu>
  &nbsp;
  &nbsp;
  <!-- language filter button -->
  <button mat-button class="btn text-bg-light p-3 py-2 btn-light border rounded-5 body-dropdown transparent-bg"
    [matMenuTriggerFor]="Language" style="height:40px; width: 100px;" [disabled]="articles.length === 0">
    {{ selectedLanguageFilter !== 'All' ? selectedLanguageFilter : 'Language' }}
  </button>
  <mat-menu #Language="matMenu">
    <button mat-menu-item (click)="setLanguageFilter('All')" [ngClass]="{'selected': selectedLanguage === 'All'}"
      [disabled]="articles.length === 0">All
    </button>
    <button mat-menu-item *ngFor="let lang of languages1" (click)="setLanguageFilter(lang.name)"
      [ngClass]="{'selected': selectedLanguage === lang.name}" [disabled]="articles.length === 0">
      {{ lang.name }} <mat-icon *ngIf="selectedLanguage === lang.name">done</mat-icon>
    </button>
  </mat-menu>
  &nbsp;
  &nbsp;
  <!-- export as text button -->
  <button mat-button class="btn text-light p-3 py-2 btn-light rounded-5 body-dropdown"
    style="width: 40px; height: 40px;" (click)="exportAllNewsAsText(search.value)" [disabled]="articles.length === 0">
    <img src="./../../../assets/export.svg" alt="Export Icon" style="width: 20px; height: 20px;">
  </button>
  &nbsp;
  &nbsp;
  <!-- export as pdf button -->
  <!-- <button mat-button class="btn text-bg-light p-3 py-2 btn-light rounded-5 body-dropdown" style="width: 40px; height: 40px;"
    (click)="exportAllNewsAsPdf(search.value)">
    <img src="./../../../assets/pdf.svg" alt="Export Icon" style="width: 20px; height: 20px;">
  </button> -->
  &nbsp;
  &nbsp;
</mat-toolbar-row>
<!-- cards starts-->
<div class="container-fluid mt-2 transparent-bg">
  <div class="row mt-3">
    <!-- for each loop -->
    <div *ngFor="let article of articles" class="col-lg-2 col-md-4 col-sm-6 mt-3 mb-3">
      <div class="card h-100">
        <ng-container *ngIf="article.image_url; else noImage">
          <img [src]="article.image_url" alt="" class="card-img-top w-100 rounded-top-4" height="200">
        </ng-container>
        <ng-template #noImage>
          <div class="card-body">
            <a class="link" [href]="article.link" target="_blank">
              <h5 class="card-title">{{ article.title | slice:0:60 }}</h5>
            </a>
            <p class="card-text">{{ article.content | slice:0:300 }}</p>
          </div>
        </ng-template>
        <div class="card-body">
          <a class="link" [href]="article.link" target="_blank">
            <h5 class="card-title">{{ article.title | slice:0:60 }}</h5>
          </a>
          <p class="card-text">{{ article.content | slice:0:150 }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex flex-column">
            <div class="articlesource">
              <a class="sourcelink" [href]="getSourceUrl(article.link)" target="_blank" style="font-weight: 500;">
                {{ article.source_id }}
              </a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="articlepubdate">{{ article.pubDate }}</span>
              <button class="close red-close" mat-button (click)="toggleSelectedArticle(article)">
                <mat-icon *ngIf="isArticleSelected(article)">clear</mat-icon>
                <mat-icon *ngIf="!isArticleSelected(article)">close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- load more button -->
<div class="d-flex justify-content-center" *ngIf="articles.length > 0">
  <button mat-button class="btn text-bg-light p-3 py-2 btn-light border rounded-5 body-dropdown transparent-bg"
    (click)="loadmorenews(search.value, nextPageToken)" [disabled]="nextPageToken === null">Load More</button>
</div>