<!-- second toolbox -->
<mat-toolbar-row style="height:80px;">
  &nbsp;
  &nbsp;
  <div class="py-4 ">
    <div class="container-fluid px-6">
      <div class="row align-items-center">
        <div class="col-xl">
          <div class="input-group">
            <!-- search box -->
            <input type="text" class="form-control rounded-5 shadow transparent-bg" [class.input-highlight]="isFocused"
              [(ngModel)]="query" placeholder="{{ searchType === 'query' ? 'Enter search query' : 'Search Images' }}"
              (keyup.enter)="search()" aria-label="Search Word" aria-describedby="button-addon2" (focus)="onFocus()"
              (blur)="onBlur()" enableAutoComplete="true" />
            &nbsp;
            &nbsp;
            <button class="btn btn-outline-secondary" type="Search" id="Search-addon2" style="height:40px; width: 40px;"
              (click)="search()">
              <!-- search logo -->
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </div>
        </div>
        <!-- radio button to switch between text search and image search-->
        <div class="col-xl search-options d-flex ">
          <div class="form-check form-check-inline mb-0">
            <input class="form-check-input" type="radio" name="searchType" [(ngModel)]="searchType" value="query"
              (click)="setSearchType('query')">
            <label class="form-check-label">Search Query</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchType" [(ngModel)]="searchType" value="image"
              (click)="setSearchType('image')">
            <label class="form-check-label">Search Images</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle space -->
  <span class="example-spacer"></span>
  &nbsp;
  &nbsp;
</mat-toolbar-row>

<div class="container-fluid mt-2">
  <div class="gsc-wrapper">
    <div class="gsc-resultsbox-visible" *ngIf="searchType === 'query'">
      <div *ngFor="let item of results">
        <div class="gsc-results gsc-webResult">
          <div class="gsc-expansionArea">
            <div class="gsc-webResult gsc-result">
              <div class="gsc-thumbnail-inside">
                <div class="gs-title">
                  <a [href]="item.link" target="_blank">{{ item.title }}</a>
                  <div class="gsc-url-top">
                    <p>{{item.link}}</p>
                    <div class="gsc-table-result">
                      <p>
                        <ng-container
                          *ngIf="item.pagemap && item.pagemap.metatags && item.pagemap.metatags[0]['og:image']">
                          <img src="{{item.pagemap.metatags[0]['og:image'] }}" target="_blank" alt="{{ item.title }}"
                            width="50" height="50" alt="Image not found" (error)="handleImageError($event)" />
                        </ng-container>
                        {{ item.snippet }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gsc-resultsbox-visible" *ngIf="searchType === 'image'">
      <div class="row mt-3">
        <div class="col-lg-3 mt-3 mb-3" *ngFor="let item of results1">
          <div class="card h-100 highlight-card" style="border: 1px;">
            <div class="card-header d-flex align-items-center">
              <img class="card-img-top w-100 rounded-top-4" [src]="item.link" [alt]="item.title" alt="Channel Profile"
                height="250" style="margin-right: 10px;">
              <div class="ml-10">
              </div>
            </div>
            <div class="card-body d-flex flex-row align-items-center justify-content-between">
              <h5 class="card-title">{{ item.title | slice:0:40 }}</h5>
              <!-- <p class="card-text">{{ item.snippet }}</p> -->
              <a [href]="item.link" target="_blank" class="btn btn-primary"><i class="fas fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- load more button for search images api-->
<div class="text-center mt-4" *ngIf="results1 && results1.length > 0 && searchType == 'image'">
  <button class="btn btn-primary" (click)="loadMore()">Load More</button>
</div>
<!-- next page pagiation for search query api -->
<div class="text-center mt-4" *ngIf="results && results.length > 0 && searchType == 'query'">
  <div class="pagination">
    <button class="btn btn-link" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
      <b>Previous</b>
    </button>
    <ng-container *ngFor="let page of pages">
      <button class="btn btn-link" [disabled]="currentPage === page" (click)="changePage(page)">
        <b>{{ page }}</b>
      </button>
    </ng-container>
    <button class="btn btn-link" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
      <b>Next</b>
    </button>
  </div>
</div>