<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <div class="card" style="width: 360px;">
    <div class="field">
      <label for="fullName">FullName</label>
      <input
        type="text"
        formControlName="fullName"
        class="w-full"
        name="fullName"
        placeholder="Type your name"
      />
      <small
        *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.dirty || registerForm.get('fullName')?.touched)"
        class="block error"
      >
        <div *ngIf="registerForm.get('fullName')?.errors?.['required']">Name is required.</div>
        <div *ngIf="registerForm.get('fullName')?.errors?.['pattern']">Enter a valid Name</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
        class="block error"
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
        class="block error"
      >
        <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <small
        *ngIf="
          registerForm.get('confirmPassword')?.invalid &&
          (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)
        "
        class="block error"
      >
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
          Confirm the password
        </div>
      </small>
      <small
        class="block error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.valid && registerForm.get('password')?.valid"
      >
        Password should match
      </small>
    </div>
    <button class="w-full" [disabled]="registerForm.invalid" type="submit">Register</button>
    <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
  </div>
</form>
